* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #cdd;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 100%;    
}

.canvas_box {
    height: 100%;
}

/* .canvas_box {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
} */

/* #area {
    margin: 1em .5em;
    border: 1px solid #cdd;
    border-radius: 1em 7em;    
} */

.intro {    
    width: 30%;
    margin: 0 auto;
    padding: 1em;
}

.col-1 {
    margin: 1em auto;    
}

.col-1 input {
    display: block;
    border-radius: 3em;
    background-color: #000;
    border: none;
    width: 50%;
    margin: 1em auto;
    height: 3em;
}

.colorBtn {
    display: block;
    margin: 0 auto;
    background-color: #000;
    color: #ccc;    
    border-radius: .3em;
    outline: none;    
    padding: .2em;    
    border: .11em solid #dbdbdb9c;
    width: 60%;
    cursor: pointer;
    
    
}

.intro p {
    display: block;
    text-align: center;
}
