* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #cdd;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.canvas_box {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

#color_select {
    background-color: #000;
    border: none;
    margin: 1em auto;
    padding: 0 .3em;
}

#area {
    margin: 1em .5em;
    border: 1px solid #cdd;
    border-radius: 1em 12em;
}

.intro {
    text-align: center;
    font-size: 1em;
}

