

body {
    background-color: #000;
    color: #cdd;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.canvas_box {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

#color_select {
    background-color: #000;
    border: none;
}

#area {
    margin: 1em .5em;
    border: 1px solid #cdd;
}

p {
    text-align: center;
    font-size: 1em;
}

