:root {
  color-scheme: light only;
  --bgrColor: #050505;
  --bdrCanvas: #bd264049;
  --orange: #e69b12d0;
  --green: #12e671d0;
  --red: #e61235d0;
  --blue: #12c6e6d0;
  --btnBlack: #212121;
  --btnShadow: #a39f9f;
  --redWords: #cabfc1;
  --gray: #48534c;
  --rangeColor: #e8dcfa;
  --background-multicolor: linear-gradient(0deg, #000000 0%, #f7f7f7 100%),
    linear-gradient(90deg, red, yellow, lime, cyan, blue, magenta, red);
  ;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
a,
span {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  text-align: center;
  /* color: var(--redWords); */
  -webkit-user-select: none;  
  -ms-user-select: none;  
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bgrColor);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

p,
a {
  text-align: center;
  letter-spacing: 0.3em;
  font-size: 0.9em;
  text-decoration: none;
}

button,
input,
span {
  cursor: pointer;
}

canvas {
  width: 100%;
  height: 100vh;
  touch-action: none;
  -ms-touch-action: none;
}


.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 85%;
  margin: 0 auto;
  border-radius: 0.3em;
  gap: 0.5em;
}

.container .cols {
  width: 85%;
  /* height: 4em; */
}

.cols button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.3em;
  margin: 0.3em auto;
  width: 100%;
  height: 3em;
  /* background-color: #684668; */
  border-radius: 0.3em;
  font-size: 1.2em;
}

.col-1,
.col-2,
.col-3,
.col-4 {
  flex: 2;
}

.fa-solid,
.fas {
  flex: 1;
}

.col-1 button {
  background-color: var(--orange);
}

.col-2 button {
  background-color: var(--green);
}

.col-3 button {
  /* background-color: var(--red); */
  background: var(--background-multicolor);
  /* background-blend-mode: color-dodge, normal; */
  background-blend-mode: overlay;
}

.col-4 button {
  background-color: var(--blue);
}

.col-5 {
  text-align: center;
  flex: 3;
}

/* .col-6 {
  flex: 1;
} */

#website {
  color: var(--redWords);
}

input[type="range"] {
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  position: relative;
  margin: 0 1em;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: var(--rangeColor);
  border-radius: 1em;
  height: 0.7em;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 1.3em;
  width: 0.6em;
  border-radius: 1em;
  background: var(--redWords);
  -webkit-appearance: none;
  margin: -7px 0 0 0;
  outline: none;
}

.container button svg {
  color: var(--btnBlack);
  padding: 0.2em;
}

button:active {
  -webkit-box-shadow: 1px 1px var(--btnShadow);
  box-shadow: 1px 1px var(--btnShadow);
  border-radius: 0.6em;
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
}

input[type="color"] {
  outline: none;
  width: 2em;
  height: 2em;
  background: none;
  border-radius: 0.3em;
  padding: 0.11em;
  /* margin: 0.3em auto; */
  flex: 0;
  opacity: 0;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1em;
  padding: 0.5em;
  border-bottom: 1px solid var(--redWords);
}

.controls-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  gap: 1em;
  margin: 0 auto;
}

.btn_txt {
  font-size: .7em;
}

.action-btn {
  background-color: var(--bgrColor);
  color: var(--redWords);
  font-size: 1.5em;
  border: none;
  /* border-radius: 100%; */
  /* margin: 0.3em;
  border: 1px solid red; */
  padding: 0 0.3em;
}

.brush-width-container span,
.brush-width-container a {
  color: var(--red);
}


/* -------------- MEDIA QUERIES -------------------- */

@media screen and (max-width: 750px) {

  .container {
    margin: 0 auto;
    width: 95%;
  }

  .container .cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .cols button {
    height: 2em;
  }

  .col-1 button,
  .col-2 button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .col-5 {
    display: flex;
    flex-direction: column;
  }

  .controls {
    margin: 0;
    padding: 0;
  }

  .brush-width-container {
    text-align: center;
    display: table;
    width: 100%;
    font-size: 0.6em;
    margin: 0 0 1.2em 0;
  }

  input[type="range"] {
    width: 5em;
    margin: 0 0.3em;
  }

  .action-btn {
    font-size: 1.2em;
  }
}

@media screen and (max-device-width: 480px) {
  body {
    -webkit-text-size-adjust: none;
  }
}