html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #f3ebdc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
    touch-action: none;
    border-top: 1px solid #493939;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;    
}


input[type="color"] {
    outline: none;
    padding: 0;
    width: 1.5em;
    cursor: pointer;
    background: none;
}


button {    
    margin: .7em auto;
    padding: .3em;
    background-color: #684668;
    color: #f3ebdc;
    cursor: pointer;
    border-radius: .3em;
    font-size: 1.2em;
}

.description p, p {
    color: #b189b1;
    text-align: center;
}

input[type=range] {
    width: 8em;
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    position: relative;
  }

/* input[type=range]::-moz-range-track,  */
/* input[type=range]::-ms-track */
input[type=range]::-webkit-slider-runnable-track {
    background: #e6dff0;
    border-radius: 1em;
    height: .7em;
    -webkit-appearance: none;
  }
  
  /* input[type=range]::-moz-range-thumb */
  /* input[type=range]::-ms-thumb */
  input[type=range]::-webkit-slider-thumb {
    border: none;
    box-shadow: none;
    height: 1.3em;
    width: .6em;
    border-radius: 1em;
    background: #8c07e4;
    -webkit-appearance: none;
    margin: -7px 0 0 0;
    outline: none;
  }