*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #f3ebdc;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.full-page-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

canvas {
  width: 100%;
  height: 100%;
  -ms-touch-action: none;
      touch-action: none;
  border-top: 1px solid #bd264049;
  position: absolute;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 75%;
  margin: 0 auto;
  border-radius: 0.3em;
  gap: .5em;
}

.container div {
  width: 85%;
  height: 4em;
}

.container button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3em;
  margin: 0.3em auto;
  width: 100%;
  height: 3em;
  /* background-color: #684668; */
  cursor: pointer;
  border-radius: 0.3em;
  font-size: 1.2em;
}

.col-1 button {
  background-color: #e69b12d0;
}

.col-2 button {
  background-color: #12e671d0;
}

.col-3 button {
  background-color: #e61235d0;
}

.col-4 button {
  background-color: #12c6e6d0;
}

.col-5 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.col-5 p {
  padding: 0;
  margin: 0.5em auto;
}

.container button svg {
  color: #212121;
  padding: 0.2em;
  cursor: pointer;
}

button:active {
  -webkit-box-shadow: 1px 1px #a39f9f;
          box-shadow: 1px 1px #a39f9f;
  border-radius: 0.6em;
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
}

input[type="color"] {
  outline: none;
  width: 2em;
  height: 2em;
  cursor: pointer;
  background: none;
  border-radius: 0.3em;
  padding: 0.11em;
  margin: 0.3em auto;
}

p,
a {
  color: #df2947;
  text-align: center;
  padding: 0.3em 0;
  letter-spacing: 0.3em;
  /* margin: 0.3em auto; */
  font-size: 0.9em;
  text-decoration: none;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.description-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  border-radius: 0.3em;
  border: none;
  width: 100%;
  margin: 0 auto;
}

.description-title span {
  font-size: 1.5em;
  padding: .5em;
  color: #df2947;
}

.description-title:hover {
  font-size: 1em;
  text-shadow: 2px 2px 2px #48534c;
  cursor: pointer;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  color: #000;
}



.description-title a:hover, .description-title:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.refresh {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;   
  background-color: #000;
  border: none;  
  margin: .5em;
  border-radius: .3em;
  cursor: pointer;
}

.refresh svg, .refresh span {
  color: #df2947;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 3em;
  margin: .3em;
}

button.refresh:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.description-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: 0 auto;
}

input[type="range"] {
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  position: relative;
  margin: 0 1em;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #e8dcfa;
  border-radius: 1em;
  height: 0.7em;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 1.3em;
  width: 0.6em;
  border-radius: 1em;
  background: #df2947;
  -webkit-appearance: none;
  margin: -7px 0 0 0;
  outline: none;
}

@media screen and (max-width: 858px) {
  body {
    overflow: auto;
  }

  p, a {
    font-size: .8em;
  }

  .container {
    margin: 0 auto;
    width: 95%;
    border-radius: 0.3em;
  }

  .container div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .container button {
    height: 2em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .col-1 button, .col-2 button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  input[type="range"] {
    width: 5em;
    margin: 0 .3em;
  }
  
}


