html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #cdd;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
    touch-action: none;
    border-top: 1px solid #493939;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;    
}


input[type="color"] {
    outline: none;
    padding: 0;
    width: 2em;
    cursor: pointer;
    background: none;
}


button {    
    margin: .7em auto;
    padding: .3em;
    background-color: #684668;
    color: #d8d2d8;
    cursor: pointer;
    border-radius: .3em;
    font-size: 1.2em;
}

.description p {
    color: #b189b1;
    text-align: center;
}